@media (max-width: 991px) {

    h1, h2{
        font-size: 2.5rem;
    }
    /* Custom Classes */
    .text-content {
        width: 100%;
        margin: auto;
    }



    /* Header */
    .navbar-brand {
        width: 50%;
    }
    .navbar-brand img {
        max-width: 60%;
    }
    .navbar .navbar-nav{
        padding-top: 0.625rem;
        overflow: hidden;
        padding-bottom: 0.75rem;
        background: var(--bg-white);
        border-radius: 0.188rem;
        -webkit-border-radius: 0.188rem;
        -moz-border-radius: 0.188rem;
        -ms-border-radius: 0.188rem;
        -o-border-radius: 0.188rem;
    }

    .navbar .navbar-nav .nav-link{
        color: var(--text-light-gray);
        padding: .625rem;
    }
    .navbar-toggler{
        padding-right: 0;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    } 
    .navbar-toggler-icon{
        color: var(--text-white);
        width: 1em;
        line-height: unset;
        width: 1em;
    }

    .navbar-sticky-on{
        color: var(--text-black);
        padding: .5rem 0;
    }

    .navbar-sticky-on{
        color: var(--text-black);
    }

    .navbar-sticky-on .navbar-toggler-icon{
        color: var(--text-black);
    }


    /* Hero */
    #home{
        padding-top: 7rem;
    }
    #home .row{
        flex-direction: column-reverse;
    }
    #home .home-text{
        margin-bottom: 2rem;
        
    }
    #home .home-download-btn{
        justify-content: center;
    }

    #home .home-img{
        text-align: center;
        
    }
    #home .home-img img{
        max-width: 60%;
        
    }

    #home .home-text{

    }

    /* Counter Section */
    
    .single-counter span{
        font-size: 2.5rem;

    }





}


@media (max-width: 767px) {

    .section-gap{
        padding: 50px 0px;
    }
  
    #home{
        padding-top: 7rem;
        padding-bottom: 2rem;
    }
    #home .home-text h2{
        font-size: 2.438rem;
        line-height: 3.938rem;
    }
    #home .home-download-btn{
        gap: 1rem;
        flex-direction: column;

    }
    #home .home-img{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }


    .single-counter span{
        font-size: 1.8rem;
    
    }
    
    .single-counter .counter-inner{
        padding-right: 0px;
        padding-left: 0px;
    }


    

    /* Features section */
    #features .margin-top-up{
        margin-top: -3rem;
    }
    
    #features .features-middle{
        text-align: center;

    }
    
    .features-img{
        text-align: center;
        margin-top: 2rem;
    }
    .features-img img{
        max-width: 90%;
     }


     /* Contact Section */
     
#contact .form-control{
    margin-bottom: 20px;
}
     

}

@media (max-width: 576px) {
    .counter-section .single-counter:nth-child(2):after{
        display: none;
    }
}